[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "OpenTreeChronograms"]
	path = OpenTreeChronograms
	url = https://github.com/cran/OpenTreeChronograms
